h1{
    margin: auto;
    color:white;
    text-align:center;
    background-color: blue;
    border-radius: 150px;
}
.center{
    display: flex;
    text-align: center;
    justify-content: center;
}
.btn{
    text-decoration: none;
    background-color: #04AA6D; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border: none;
    border-radius: 150px;

}
