h1{
    margin: auto;
    color:white;
    text-align:center;
    background-color: blue;
    border-radius: 150px;
}
.center{
    display: flex;
    text-align: center;
    justify-content: center;
}

.btn{
    text-decoration: none;
    background-color: #04AA6D; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    border: none;
    border-radius: 150px;

}
.btn-submit {
    color:white;
    background-color: blue;
    padding: 5px 12px;
}
#library{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}
p{
    margin: 0;
    margin-right: 5px;
    font-weight: bold;

}
.book {
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
label{
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
input{
    border-radius: 5px;
}
.checkbox{
    margin-top: 15px;
}
.AddBook{
    display: inline-block;

    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    border:none;
    border-radius: 10px;
    background-color: #04AA6D;
}

